Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: skylarkTV, ingestor, lib, react

codecov.yml:

flags:
  skylarkTV:
    paths:
      - apps/skylarktv/
  ingestor:
    paths:
      - packages/ingestor/
  lib:
    paths:
      - packages/lib/
  react:
    paths:
      - packages/react/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      apps:
        flags:
          - skylarkTV
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

feat: only show time-travel if user has permission, hide dimension-settings on read only user
  apps/skylarktv/components/layout.tsx
  apps/skylarktv/graphql/queries/getUserAccount.ts
  apps/skylarktv/graphql/queries/index.ts
  apps/skylarktv/hooks/useUserAccount.tsx
  apps/skylarktv/pages/_app.tsx
  packages/react/src/components/connect-to-skylark-modal/connect-to-skylark-modal.component.tsx
Due: skylarkTV, react

feat: add ability to have loading logo using PRE_LIVE image type
  apps/skylarktv/components/layout.tsx
  apps/skylarktv/graphql/queries/skylarktvConfig.ts
  apps/skylarktv/hooks/useSkylarkTVConfig.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
Due: skylarkTV, react

feat: on a page set, use external_id as the href where possible
  apps/skylarktv/components/grid.tsx
  apps/skylarktv/components/rails.tsx
  apps/skylarktv/components/thumbnail.tsx
  apps/skylarktv/graphql/queries/getSet.ts
  apps/skylarktv/lib/utils.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: skylarkTV, lib

feat: add renovate
  renovate.json
Due: none

feat: purge cache before starting ingest after schema changes (to be safe)
  packages/ingestor/src/lib/skylark/saas/cache.ts
  packages/ingestor/src/main.ts
Due: ingestor

Update pr-checks.yml
  .github/workflows/pr-checks.yml
Due: none

feat: modify ingestor to handle new dimensions
  apps/skylarktv/lib/getPageSeoData.ts
  apps/skylarktv/lib/utils.ts
  apps/skylarktv/tests/lib/utils.test.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/lib/src/interfaces/skylark/objects.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.test.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
  packages/react/src/lib/utils.ts
Due: skylarkTV, ingestor, lib, react

chore: skip tests
  apps/skylarktv/lib/getPageSeoData.ts
  apps/skylarktv/tests/lib/getPageSeoData.test.ts
  apps/skylarktv/tests/lib/utils.test.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
  packages/react/src/lib/utils.test.ts
Due: skylarkTV, ingestor, react

feat: correct dimension
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
Due: react

Adding some styling, and creating the arguments for the player
  apps/skylarktv/components/pages/playback/playback.page.tsx
  packages/react/src/components/button/button.component.tsx
  packages/react/src/components/player/player.component.tsx
Due: skylarkTV, react

feat: fetch chapters and timecode for asset
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/graphql/queries/getAsset.ts
  apps/skylarktv/graphql/queries/index.ts
  apps/skylarktv/types/gql.ts
  packages/react/src/components/player/player.component.tsx
Due: skylarkTV, react

feat: support MuxPlayer
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/graphql/queries/getEpisode.ts
  apps/skylarktv/pages/episode/[...slug].tsx
  apps/skylarktv/pages/live-stream/[slug].tsx
  apps/skylarktv/pages/movie/[slug].tsx
  packages/react/package.json
  packages/react/setupJestTests.js
  packages/react/src/components/player/player.component.tsx
  yarn.lock
Due: skylarkTV, react

feat: fix build issue
  packages/react/src/components/player/player.component.tsx
Due: react

feat: support signed playback for Mux
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/hooks/useMuxPlaybackToken.tsx
  apps/skylarktv/hooks/useObject.tsx
  apps/skylarktv/pages/episode/[...slug].tsx
  apps/skylarktv/pages/live-stream/[slug].tsx
  apps/skylarktv/pages/movie/[slug].tsx
  packages/react/src/components/player/player.component.tsx
Due: skylarkTV, react

fully wiring everything up so that Chapter and CuePoint events make it through to the Skylark TV code
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/hooks/useMuxPlaybackToken.tsx
  packages/react/src/components/button/button.component.tsx
  packages/react/src/components/player/player.component.tsx
Due: skylarkTV, react

feat: add pause screen, tweak timecodes, support advert image
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/playerPauseOverlay.tsx
  apps/skylarktv/components/playerTimecodeEvent.tsx
  apps/skylarktv/components/shoppable/whisk.tsx
  apps/skylarktv/graphql/queries/fragments.ts
  apps/skylarktv/graphql/queries/getAsset.ts
  apps/skylarktv/hooks/useMuxPlaybackToken.tsx
  apps/skylarktv/pages/article/[...slug].tsx
  apps/skylarktv/types/extendedGql.ts
  apps/skylarktv/types/gql.ts
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  packages/react/src/components/player/player.component.tsx
Due: skylarkTV, react

feat: tweak styling, only adverts on bottom
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/playerPauseOverlay.tsx
  apps/skylarktv/types/gql.ts
Due: skylarkTV

feat: add whisk
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/playerPauseOverlay.tsx
  apps/skylarktv/components/playerTimecodeEvent.tsx
  apps/skylarktv/components/shoppable/whisk.tsx
  apps/skylarktv/graphql/queries/getAsset.ts
  apps/skylarktv/pages/_document.tsx
  packages/react/src/components/information-panel/information-panel.component.tsx
  packages/react/src/components/player/player.component.tsx
  packages/react/src/components/skeleton/skeleton.component.tsx
Due: skylarkTV, react

feat: refactor adverts
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/playerPauseOverlay.tsx
  apps/skylarktv/components/playerTimecodeEvent.tsx
  apps/skylarktv/pages/_app.tsx
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
Due: skylarkTV, react

feat: improve scrolling on pause screen
  apps/skylarktv/components/playerPauseOverlay.tsx
  apps/skylarktv/components/playerTimecodeEvent.tsx
Due: skylarkTV

feat: bullet point styles
  packages/react/styles/globals.css
Due: react

feat: unpause playback from pause click, minimise navigation on scroll, broken whisk widget, cloudinary loading logo
  apps/skylarktv/components/layout.tsx
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/playerPauseOverlay.tsx
  apps/skylarktv/components/playerTimecodeEvent.tsx
  apps/skylarktv/components/shoppable/whisk.tsx
  packages/react/package.json
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/player/player.component.tsx
  yarn.lock
Due: skylarkTV, react

feat: finish whisk widget
  apps/skylarktv/components/shoppable/whisk.tsx
Due: skylarkTV

feat: slight delay to redirect
  apps/skylarktv/pages/skylark/connect.tsx
  apps/skylarktv/types/gql.ts
Due: skylarkTV

feat: use window.localStorage instead of localStorage
  apps/skylarktv/pages/_app.tsx
  apps/skylarktv/pages/skylark/connect.tsx
  packages/react/src/components/connect-to-skylark-modal/connect-to-skylark-modal.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/player/player.component.tsx
  packages/react/src/lib/utils.ts
Due: skylarkTV, react

feat: resolve build errors
  .husky/pre-commit
  apps/skylarktv/components/layout.tsx
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/search.tsx
  apps/skylarktv/pages/articles.tsx
  package.json
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dropdown/dropdown.component.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/information-panel/information-panel.component.tsx
  packages/react/src/components/list/list.component.tsx
  packages/react/src/components/metadata-panel/metadata-panel.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/rail/rail.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  yarn.lock
Due: skylarkTV, ingestor, react

feat: fix locales, add test:ci
  .github/workflows/pr-checks.yml
  package.json
  packages/skylarktv/.storybook/preview.tsx
  packages/skylarktv/locales/ar/common.json
  packages/skylarktv/locales/en-gb/common.json
  packages/skylarktv/locales/pt-pt/common.json
  packages/skylarktv/src/types/gql.ts
  packages/skylarktv/test-utils.tsx
Due: none

fix: storybook
  @lib-package.json
  @react-package.json
  packages/skylarktv/.storybook/preview.tsx
Due: none

fix: lint errors
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
Due: ingestor

feat: add script to migrate skylark images to Cloudinary & link Mux (#175)
  .vscode/launch.json
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
Due: ingestor

feat: tweaks for client c test acc
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/main.ts
Due: ingestor

Feature/legacy migrate images to cloudinary script (#177)
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: countryline changes
  packages/skylarktv/src/components/generic/dimension-settings/dimension-settings.component.tsx
  packages/skylarktv/src/components/generic/dimension-settings/dimension-settings.test.tsx
  packages/skylarktv/src/components/layout.tsx
  packages/skylarktv/src/contexts/dimensions-context/dimensions-context.test.tsx
  packages/skylarktv/src/contexts/dimensions-context/dimensions-context.tsx
  packages/skylarktv/src/lib/getPageSeoData.ts
  packages/skylarktv/src/pages/index.tsx
  packages/skylarktv/src/types/gql.ts
  packages/skylarktv/tests/lib/utils.test.ts
Due: none

feat: support custom homepage ext id
  packages/skylarktv/src/pages/index.tsx
Due: none
