Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, ingestor, lib, react

feat: Add support for StreamtvConfig object, refactor tailwind colors into variables
  apps/storybook/styles/globals.css
  apps/streamtv/components/cta.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/skylarkEnvironment.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useSkylarkEnvironment.tsx
  apps/streamtv/hooks/useStreamTVConfig.tsx
  apps/streamtv/pages/_app.tsx
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/react/src/components/app-background-gradient/app-background-gradient.component.tsx
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/button/button.component.tsx
  packages/react/src/components/carousel/carousel-button.component.tsx
  packages/react/src/components/dropdown/dropdown.component.tsx
  packages/react/src/components/loading-screen/loading-screen.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/title-screen/title-screen.stories.tsx
  packages/react/styles/globals.css
  tailwind.config.js
Due: streamTV, ingestor, react

feat: add SkylarkConfig to ingestor
  apps/streamtv/components/search.tsx
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/main.ts
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
Due: streamTV, ingestor, react

feat: Read logo and title from config
  apps/streamtv/components/layout.tsx
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useStreamTVConfig.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
Due: streamTV, react

feat: add google tag manager when set in config
  apps/streamtv/components/googleTagManager.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useStreamTVConfig.tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: streamTV, ingestor

feat: add streamtv config changes only ingestor
  .github/actions/run-ingestor/action.yml
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
  .vscode/launch.json
  packages/ingestor/src/main.ts
Due: ingestor

feat: only enable streamtv config when connecting to an env which has it
  apps/streamtv/hooks/useStreamTVConfig.tsx
Due: streamTV

feat: StreamTV Config Object (#114)
  .github/actions/run-ingestor/action.yml
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
  .vscode/launch.json
  apps/storybook/styles/globals.css
  apps/streamtv/components/cta.tsx
  apps/streamtv/components/googleTagManager.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/skylarkEnvironment.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useSkylarkEnvironment.tsx
  apps/streamtv/hooks/useStreamTVConfig.tsx
  apps/streamtv/pages/_app.tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/main.ts
  packages/react/src/components/app-background-gradient/app-background-gradient.component.tsx
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/button/button.component.tsx
  packages/react/src/components/carousel/carousel-button.component.tsx
  packages/react/src/components/dropdown/dropdown.component.tsx
  packages/react/src/components/loading-screen/loading-screen.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
  packages/react/src/components/title-screen/title-screen.stories.tsx
  packages/react/styles/globals.css
  tailwind.config.js
Due: streamTV, ingestor, react

feat: enable mena dimension
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: react

feat: rename TV Shows to Featured in StreamTV, allow Featured link to be set in StreamtvConfig
  apps/streamtv/components/layout.tsx
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useStreamTVConfig.tsx
  apps/streamtv/locales/ar/common.json
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/_app.tsx
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: streamTV, ingestor

feat: rename TV Shows to Featured in StreamTV, allow Featured link to be set in StreamtvConfig (#115)
  apps/streamtv/components/layout.tsx
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useStreamTVConfig.tsx
  apps/streamtv/locales/ar/common.json
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/_app.tsx
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: streamTV, ingestor

feat: Update StreamTV Sets
  packages/ingestor/src/additional-objects/sets.ts
Due: ingestor

feat: Add components and styles
  apps/marketing-site/.eslintrc.json
  apps/marketing-site/package.json
  apps/marketing-site/postcss.config.js
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/copy.tsx
  apps/marketing-site/src/components/cta.tsx
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/footer.tsx
  apps/marketing-site/src/components/image.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/components/skylarkBranding.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
  apps/marketing-site/src/pages/_app.tsx
  apps/marketing-site/src/pages/index.tsx
  apps/marketing-site/src/queries/getPage.ts
  apps/marketing-site/src/styles/globals.css
  apps/marketing-site/tailwind.config.ts
  tailwind.config.js
  yarn.lock
Due: none

feat: add icons, add seo title/desc, add accordian, tweak styling, update packages to bring monorepo to same versions
  apps/marketing-site/package.json
  apps/marketing-site/public/favicon.ico
  apps/marketing-site/public/favicons/android-chrome-192x192.png
  apps/marketing-site/public/favicons/android-chrome-512x512.png
  apps/marketing-site/public/favicons/apple-touch-icon.png
  apps/marketing-site/public/favicons/favicon-16x16.png
  apps/marketing-site/public/favicons/favicon-32x32.png
  apps/marketing-site/public/favicons/favicon.ico
  apps/marketing-site/public/favicons/site.webmanifest
  apps/marketing-site/public/next.svg
  apps/marketing-site/public/vercel.svg
  apps/marketing-site/src/components/accordian.tsx
  apps/marketing-site/src/components/banner.tsx
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/button.tsx
  apps/marketing-site/src/components/cta.tsx
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/footer.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/pages/index.tsx
  apps/marketing-site/src/queries/getPage.ts
  apps/marketing-site/src/styles/globals.css
  apps/marketing-site/types/gql.ts
  apps/storybook/package.json
  apps/streamtv/package.json
  package.json
  packages/ingestor/.eslintrc.js
  packages/ingestor/package.json
  packages/ingestor/tsconfig.json
  packages/lib/package.json
  packages/react/package.json
  tailwind.config.js
  yarn.lock
Due: streamTV, ingestor, lib, react

feat: icon
  apps/marketing-site/src/components/banner.tsx
Due: none

feat: add initial test to marketing-app, bump packages
  apps/marketing-site/jest.config.js
  apps/marketing-site/package.json
  apps/marketing-site/src/components/block.test.tsx
  apps/marketing-site/src/components/copy.test.tsx
  apps/marketing-site/tsconfig.json
  apps/storybook/package.json
  apps/streamtv/hooks/useSkylarkEnvironment.tsx
  apps/streamtv/package.json
  package.json
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/amplify.test.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/lib/src/cognito/cognito.test.ts
  packages/react/package.json
  packages/react/setupJestTests.js
  packages/react/src/components/button/button.test.tsx
  packages/react/src/components/dimension-settings/dimension-radio-button/dimension-radio-button.test.tsx
  packages/react/src/components/label/label.test.tsx
  packages/react/src/lib/utils.test.ts
  tsconfig.json
  yarn.lock
Due: streamTV, ingestor, lib, react

feat: add tests
  apps/marketing-site/src/components/block.test.tsx
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/section.test.tsx
  apps/marketing-site/src/components/section.tsx
  codecov.yml
Due: none

feat: improve mobile styles
  apps/marketing-site/src/components/banner.tsx
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/cta.tsx
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
  apps/marketing-site/src/styles/globals.css
  apps/marketing-site/types/gql.ts
Due: none

feat: Add testimonial page
  apps/marketing-site/package.json
  apps/marketing-site/src/components/personCard.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
  apps/marketing-site/src/pages/customers/[slug].tsx
  apps/marketing-site/src/queries/fragments.ts
  apps/marketing-site/src/queries/getPage.ts
  apps/marketing-site/src/queries/getTestimonial.ts
  apps/marketing-site/src/styles/globals.css
  yarn.lock
Due: none

feat: add link to testimonial page from card
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
Due: none

feat: Improve Mobile, add Testimonial page (#117)
  apps/marketing-site/package.json
  apps/marketing-site/src/components/banner.tsx
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/cta.tsx
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/personCard.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
  apps/marketing-site/src/pages/customers/[slug].tsx
  apps/marketing-site/src/queries/fragments.ts
  apps/marketing-site/src/queries/getPage.ts
  apps/marketing-site/src/queries/getTestimonial.ts
  apps/marketing-site/src/styles/globals.css
  apps/marketing-site/types/gql.ts
  yarn.lock
Due: none

feat: Add page animations
  apps/marketing-site/.eslintrc.js
  apps/marketing-site/.eslintrc.json
  apps/marketing-site/package.json
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/cta.tsx
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/footer.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
  apps/marketing-site/src/pages/customers/[slug].tsx
  apps/marketing-site/src/styles/globals.css
  apps/marketing-site/src/utils/framerMotionVariants.ts
  package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/react/package.json
  packages/react/setupJestTests.js
  yarn.lock
Due: ingestor, react

feat: Add page animations (#118)
  apps/marketing-site/.eslintrc.js
  apps/marketing-site/.eslintrc.json
  apps/marketing-site/package.json
  apps/marketing-site/src/components/block.tsx
  apps/marketing-site/src/components/cta.tsx
  apps/marketing-site/src/components/embed.tsx
  apps/marketing-site/src/components/footer.tsx
  apps/marketing-site/src/components/section.tsx
  apps/marketing-site/src/components/testimonialCard.tsx
  apps/marketing-site/src/pages/customers/[slug].tsx
  apps/marketing-site/src/styles/globals.css
  apps/marketing-site/src/utils/framerMotionVariants.ts
  package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/react/package.json
  packages/react/setupJestTests.js
  yarn.lock
Due: ingestor, react

feat: tweak Client A ingestor after feedback, add 24hr cache to Showcase ingestion
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/common.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/cacheConfiguration.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: ingestor, lib

feat: tweak Client A ingestor after feedback, add 24hr cache to Showcase ingestion (#119)
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/common.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/cacheConfiguration.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: ingestor, lib

feat: Add URL query keys for all dimensions
  .vscode/launch.json
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/lib/src/interfaces/skylark/objects.ts
  packages/lib/src/skylark/skylark.constants.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.test.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
  packages/react/src/lib/utils.test.ts
  packages/react/src/lib/utils.ts
Due: streamTV, ingestor, lib, react

chore: remove commented code
  apps/marketing-site/src/pages/customers/[slug].tsx
  packages/lib/src/interfaces/skylark/objects.ts
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
Due: lib, react

feat: Add URL query keys for all dimensions (#120)
  .vscode/launch.json
  apps/marketing-site/src/pages/customers/[slug].tsx
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/lib/src/interfaces/skylark/objects.ts
  packages/lib/src/skylark/skylark.constants.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.test.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
  packages/react/src/lib/utils.test.ts
  packages/react/src/lib/utils.ts
Due: streamTV, ingestor, lib, react

feat: split files on large legacy ingest
  .vscode/launch.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: split files on large legacy ingest (#121)
  .vscode/launch.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: add auto play to live stream page
  apps/marketing-site/types/gql.ts
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  packages/react/src/components/player/player.component.tsx
Due: streamTV, react

feat: add auto play to live stream page (#122)
  apps/marketing-site/types/gql.ts
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  packages/react/src/components/player/player.component.tsx
Due: streamTV, react

fix: ar translation for count
  apps/streamtv/locales/ar/common.json
  packages/react/src/components/header/header.component.tsx
Due: streamTV, react

fix: ar translation for count (#123)
  apps/streamtv/locales/ar/common.json
  packages/react/src/components/header/header.component.tsx
Due: streamTV, react

fix: attempt to fix thumbnails sometimes not loading
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/hooks/useImageLoaded.tsx
Due: react

fix: attempt to fix thumbnails sometimes not loading (#124)
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/hooks/useImageLoaded.tsx
Due: react

feat: uid all the things
  apps/marketing-site/src/queries/fragments.ts
  apps/marketing-site/src/queries/getPage.ts
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
Due: streamTV

feat: uid all the things (#125)
  apps/marketing-site/src/queries/fragments.ts
  apps/marketing-site/src/queries/getPage.ts
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
Due: streamTV

feat: remove server side rendering
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/pages/[slug].tsx
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
Due: streamTV

Path conditions:
  streamTV: any of: apps/streamtv/
  ingestor: any of: packages/ingestor/
  lib: any of: packages/lib/
  react: any of: packages/react/
