Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, marketingSite, ingestor, lib, react

codecov.yml:

flags:
  streamTV:
    paths:
      - apps/streamtv/
  marketingSite:
    paths:
      - apps/marketing-site/
  ingestor:
    paths:
      - packages/ingestor/
  lib:
    paths:
      - packages/lib/
  react:
    paths:
      - packages/react/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      apps:
        flags:
          - streamTV
          - marketingSite
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

feat: remove server side rendering
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
Due: streamTV

fix: home page
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/types/gql.ts
Due: streamTV

Feature/remove ssr (#126)
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/pages/[slug].tsx
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/types/gql.ts
Due: streamTV

feat: add new mobile navigation
  .vscode/launch.json
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/react/package.json
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
Due: streamTV, ingestor, react

feat: design change, make buttons easier to press
  apps/streamtv/components/backButton.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
Due: streamTV, react

feat: styling, show the dimensions setting arrow
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
Due: react

feat: styling, show the dimensions setting arrow
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: react

chore: storybook
  packages/react/src/components/navigation/navigation.stories.tsx
Due: react

feat: Mobile Navigation on StreamTV (#127)
  .vscode/launch.json
  apps/streamtv/components/backButton.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/react/package.json
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/navigation/navigation.stories.tsx
Due: streamTV, ingestor, react

feat: support wysiwyg in playback page synopsis
  packages/react/package.json
  packages/react/src/components/information-panel/information-panel.component.tsx
Due: react

feat: add grid_portait enum and support
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/types/extendedGql.ts
  packages/ingestor/src/lib/constants.ts
Due: streamTV, ingestor

feat: modify schema for Availability inheritance
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
  packages/ingestor/src/main.ts
Due: streamTV, ingestor

feat: increase player size on StreamTV
  apps/marketing-site/types/gql.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/player/player.component.tsx
Due: streamTV, marketingSite, react

feat: fix default value
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
Due: none

feat: modify schema for Availability inheritance (#128)
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: disable role inheriting availability from credits
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
Due: ingestor

feat: disable role inheriting availability from credits (#129)
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
Due: ingestor

Update cacheConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/cacheConfiguration.ts
Due: ingestor

chore: prettier
  packages/ingestor/src/lib/skylark/saas/cacheConfiguration.ts
Due: ingestor

Increase StreamTV Query cache to a week (#130)
  packages/ingestor/src/lib/skylark/saas/cacheConfiguration.ts
Due: ingestor

feat: intercom
  .vscode/settings.json
  apps/streamtv/pages/_document.tsx
Due: streamTV

feat: intercom
  apps/streamtv/package.json
  apps/streamtv/pages/_app.tsx
  apps/streamtv/pages/_document.tsx
  yarn.lock
Due: streamTV

feat: intercom
  apps/streamtv/pages/_app.tsx
Due: streamTV

feat: initial countryline changes
  apps/streamtv/components/carousel.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getCTA.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/listGenres.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/tests/lib/getPageSeoData.test.ts
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/lib/src/utils/utils.ts
Due: streamTV, lib

feat: initial countryline changes
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/search.ts
Due: streamTV

feat: support external_urls in StreamTV
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/lib/utils.ts
Due: streamTV

feat: support external_urls in StreamTV
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/search.ts
  packages/react/src/components/rail/rail.component.tsx
Due: streamTV, react

feat: correct query
  apps/streamtv/graphql/queries/getEpisode.ts
Due: streamTV

feat: move from Mux player to React Player
  .vscode/settings.json
  apps/streamtv/package.json
  packages/react/package.json
  packages/react/src/components/player/player.component.tsx
  yarn.lock
Due: streamTV, react

feat: dimensions remove region, add public customer type
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
Due: react

feat: countryline specific
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/index.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
Due: streamTV, react

feat: fetch 100 content on pages
  apps/streamtv/graphql/queries/getSet.ts
Due: streamTV

feat: countryline specific
  apps/marketing-site/types/gql.ts
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
Due: streamTV, marketingSite

feat: remove liveStream
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/getSet.ts
Due: streamTV

feat: add shows page, make listing with genre a reusable component
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/listWithGenreFilter/listWithGenreFilter.page.tsx
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/hooks/useListObjects.tsx
  apps/streamtv/hooks/useMovieListingFromGenre.tsx
  apps/streamtv/hooks/useObject.tsx
  apps/streamtv/hooks/useObjectListingFromGenre.tsx
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/pages/episodes.tsx
  apps/streamtv/pages/movies.tsx
  apps/streamtv/pages/shows.tsx
Due: streamTV

feat: add person page, add person to search
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getPerson.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/package.json
  apps/streamtv/pages/person/[slug].tsx
  packages/react/src/components/index.ts
  packages/react/src/components/parseAndDisplayHtml/index.tsx
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  tailwind.config.js
  yarn.lock
Due: streamTV, react

feat: person page mobile
  apps/streamtv/pages/person/[slug].tsx
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
Due: streamTV, react

feat: add name to person thumbnail
  apps/streamtv/components/thumbnail.tsx
Due: streamTV

feat: revert to SLX data model
  apps/streamtv/components/carousel.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/tests/lib/getPageSeoData.test.ts
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/lib/src/utils/utils.test.ts
  packages/lib/src/utils/utils.ts
Due: streamTV, lib

fix: queries
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getCTA.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getPerson.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/graphql/queries/listGenres.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
Due: streamTV
