Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, marketingSite, ingestor, lib, react

codecov.yml:

flags:
  streamTV:
    paths:
      - apps/streamtv/
  marketingSite:
    paths:
      - apps/marketing-site/
  ingestor:
    paths:
      - packages/ingestor/
  lib:
    paths:
      - packages/lib/
  react:
    paths:
      - packages/react/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      apps:
        flags:
          - streamTV
          - marketingSite
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

feat: revert more changes
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movies.tsx
  apps/streamtv/types/extendedGql.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
Due: streamTV, react

feat: add live stream to search
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useSearch.tsx
Due: streamTV

feat: add live stream to search (#133)
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useSearch.tsx
Due: streamTV

Add Intercom to StreamTV (#131)
  apps/streamtv/package.json
  apps/streamtv/pages/_app.tsx
  yarn.lock
Due: streamTV

feat: Move dimension settings toggle to remove intercom clash
  apps/marketing-site/types/gql.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: streamTV, marketingSite, react

feat: Move dimension settings toggle to remove intercom clash (#134)
  apps/marketing-site/types/gql.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: streamTV, marketingSite, react

feat: initial countryline changes feat: dimensions remove region, add public customer type feat: remove liveStream
  apps/streamtv/components/carousel.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getCTA.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getPerson.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/graphql/queries/listGenres.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/pages/movies.tsx
  apps/streamtv/pages/person/[slug].tsx
  apps/streamtv/tests/lib/getPageSeoData.test.ts
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/lib/src/utils/utils.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
Due: streamTV, lib, react

fix: ??
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/hooks/useSearch.tsx
  apps/streamtv/pages/article/[...slug].tsx
  apps/streamtv/pages/collection/[slug].tsx
  packages/lib/src/interfaces/skylark/types.ts
Due: streamTV, lib

feat: add article and articles page
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getArticle.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/graphql/queries/listArticles.ts
  apps/streamtv/locales/ar/common.json
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/_app.tsx
  apps/streamtv/pages/article/[...slug].tsx
  apps/streamtv/pages/articles.tsx
  apps/streamtv/types/gql.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
Due: streamTV, lib, react

feat: improve article page, add complex slug to episode page
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/listArticles.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useUidAndSlugFromObjectUrl.tsx
  apps/streamtv/pages/article/[...slug].tsx
  apps/streamtv/pages/articles.tsx
  apps/streamtv/pages/episode/[...slug].tsx
  apps/streamtv/types/gql.ts
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
Due: streamTV, react

feat: add seo for article
  apps/streamtv/hooks/useUidAndSlugFromObjectUrl.tsx
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/pages/article/[...slug].tsx
Due: streamTV

feat: Add read more articles and article thumbnail
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getArticle.ts
  apps/streamtv/pages/article/[...slug].tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.component.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.stories.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.test.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/thumbnail/index.tsx
Due: streamTV, react

feat: add line-clamp to articles page
  apps/streamtv/pages/articles.tsx
Due: streamTV

feat: refactor article styling
  apps/streamtv/pages/articles.tsx
Due: streamTV

feat: migrate countryline changes back to streamtv, add article, add episode with slug
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getArticle.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/graphql/queries/listArticles.ts
  apps/streamtv/hooks/useUidAndSlugFromObjectUrl.tsx
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/locales/ar/common.json
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/_app.tsx
  apps/streamtv/pages/article/[...slug].tsx
  apps/streamtv/pages/articles.tsx
  apps/streamtv/pages/episode/[...slug].tsx
  apps/streamtv/pages/person/[slug].tsx
  apps/streamtv/types/gql.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.component.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.stories.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.test.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/thumbnail/index.tsx
Due: streamTV, lib, react

feat: fix broken file
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
Due: streamTV

feat: update ingestor, fix streamtv dimensions
  apps/streamtv/graphql/queries/getArticle.ts
  apps/streamtv/graphql/queries/listArticles.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
Due: streamTV, ingestor

feat: add slug to queries, use slug on Episode page
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/graphql/queries/listGenres.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[...slug].tsx
  packages/ingestor/src/lib/skylark/saas/utils.ts
Due: streamTV, ingestor

fix: publish_date
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/pages/article/[...slug].tsx
  apps/streamtv/pages/articles.tsx
  apps/streamtv/pages/episode/[...slug].tsx
  apps/streamtv/types/gql.ts
Due: streamTV

feat: migrate countryline changes back to streamtv, add article, add … (#135)
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getArticle.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/graphql/queries/listArticles.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/hooks/useUidAndSlugFromObjectUrl.tsx
  apps/streamtv/lib/getPageSeoData.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/locales/ar/common.json
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/_app.tsx
  apps/streamtv/pages/article/[...slug].tsx
  apps/streamtv/pages/articles.tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/pages/episode/[...slug].tsx
  apps/streamtv/pages/person/[slug].tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/components/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.component.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.stories.tsx
  packages/react/src/components/thumbnail/article/article-thumbnail.test.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/thumbnail/index.tsx
Due: streamTV, ingestor, lib, react

feat: sort articles
  apps/streamtv/pages/articles.tsx
Due: streamTV

feat: sort articles (#136)
  apps/streamtv/pages/articles.tsx
Due: streamTV

feat: add script to migrate skylark images to Cloudinary
  .vscode/launch.json
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
Due: ingestor

feat: add easy cache purge to StreamTV for quick work arounds
  apps/streamtv/components/layout.tsx
  apps/streamtv/graphql/queries/purgeCache.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: streamTV, react

feat: add easy cache purge to StreamTV for quick work arounds (#137)
  apps/streamtv/components/layout.tsx
  apps/streamtv/graphql/queries/purgeCache.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: streamTV, react

feat: changes to test Fauna
  .vscode/launch.json
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: small correction now null is a valid end date
  apps/streamtv/lib/utils.ts
Due: streamTV

feat: small correction now null is a valid end date
  packages/react/src/components/information-panel/information-panel.component.tsx
Due: react

feat: fauna things
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: make brand/season clickable
  apps/marketing-site/types/gql.ts
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/components/pages/playback/playback.stories.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/pages/episode/[...slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/types/gql.ts
  packages/react/src/components/information-panel/information-panel.component.tsx
  packages/react/src/components/information-panel/information-panel.stories.tsx
  packages/react/src/components/rail/rail.component.tsx
Due: streamTV, marketingSite, react

feat: use headers for dimensions, don't refetch streamtv config on mount, only show carousel when one image has loaded
  apps/streamtv/graphql/queries/getArticle.ts
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getCTA.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getPerson.ts
  apps/streamtv/graphql/queries/getSeason.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/listArticles.ts
  apps/streamtv/graphql/queries/listEpisodes.ts
  apps/streamtv/graphql/queries/listGenres.ts
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/graphql/queries/streamtvConfig.ts
  apps/streamtv/hooks/useSkylarkEnvironment.tsx
  apps/streamtv/types/gql.ts
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/carousel/carousel.test.tsx
  packages/react/src/lib/utils.test.ts
  packages/react/src/lib/utils.ts
Due: streamTV, react

feat: improvement to carousel
  packages/react/src/components/carousel/carousel.component.tsx
Due: react

feat: change text
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
Due: react

feat: parse autoconnect uri in beta auth
  packages/react/src/components/connect-to-skylark-modal/connect-to-skylark-modal.component.tsx
Due: react

feat: add create only mode to gh actions, add Airtable scripts
  .github/actions/run-ingestor/action.yml
  packages/ingestor/.eslintrc.js
  packages/ingestor/tools/airtableScripts/createTmdbImage.js
  packages/ingestor/tools/airtableScripts/createTmdbObjects.js
Due: ingestor

feat: update streamtv workflow
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
Due: none

feat: update airtable scripts
  packages/ingestor/tools/airtableScripts/createTmdbCredits.js
  packages/ingestor/tools/airtableScripts/createTmdbImage.js
  packages/ingestor/tools/airtableScripts/createTmdbObjects.js
  packages/ingestor/tools/airtableScripts/createTmdbTranslation.js
Due: ingestor

feat: disable availability inheritance
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
Due: ingestor

feat: tweak availability inheritance
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
Due: ingestor
