Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, ingestor, lib, react

codecov.yml:

flags:
  streamTV:
    paths:
      - apps/streamtv/
  ingestor:
    paths:
      - packages/ingestor/
  lib:
    paths:
      - packages/lib/
  react:
    paths:
      - packages/react/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      streamTV:
        flags:
          - streamTV
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

chore: prettier
  .vscode/extensions.json
  .vscode/settings.json
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: ingestor

fix: handle blank row in Media Objects table (#99)
  .vscode/extensions.json
  .vscode/settings.json
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: Add request concurrency limitation (although unlimited atm), add kids dimension and sets to StreamTV
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/constants.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: ingestor, react

feat: remove sorting from StreamTV
  apps/streamtv/components/rails.tsx
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/constants.ts
Due: streamTV, ingestor

feat: reduce concurrent requests to 50, add url query to disable title animation and show kids dimension, add grid set type
  .github/actions/run-ingestor/action.yml
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/pages/movies.tsx
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/constants.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: streamTV, ingestor, react

feat: reduce concurrent requests to 50, add url query to disable title animation and show kids dimension, add grid set type
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/additional-objects/slxDemosSets.ts
  packages/ingestor/src/lib/interfaces/config.ts
Due: streamTV, ingestor

feat: reduce concurrent requests to 50, add url query to disable title animation and show kids dimension, add grid set type
  apps/streamtv/components/grid.tsx
Due: streamTV

feat: Add request concurrency limitation (set to 50) (#100)
  .github/actions/run-ingestor/action.yml
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/pages/movies.tsx
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/additional-objects/slxDemosSets.ts
  packages/ingestor/src/lib/constants.ts
  packages/ingestor/src/lib/interfaces/config.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: streamTV, ingestor, react

feat: add support for preferred_image_type in season
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/skylarkEnvironment.ts
  apps/streamtv/hooks/useSkylarkEnvironment.tsx
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/constants.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/lib/src/skylark/graphqlClient.test.ts
  packages/lib/src/skylark/graphqlClient.ts
  packages/react/src/lib/utils.ts
Due: streamTV, ingestor, lib, react

feat: add support for preferred_image_type in season (#102)
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/skylarkEnvironment.ts
  apps/streamtv/hooks/useSkylarkEnvironment.tsx
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/constants.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/lib/src/skylark/graphqlClient.test.ts
  packages/lib/src/skylark/graphqlClient.ts
  packages/react/src/lib/utils.ts
Due: streamTV, ingestor, lib, react

feat: handle Credit with no roles, refactor SLX demo logic, add more sets to StreamTV
  .github/actions/run-ingestor/action.yml
  .vscode/launch.json
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: update sets
  packages/ingestor/src/additional-objects/sets.ts
Due: ingestor

feat: Handle Credits with no role in Ingestor, update StreamTV Sets, refactor after removing SLX Demo from Airtable (#103)
  .github/actions/run-ingestor/action.yml
  .vscode/launch.json
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: Add ingestor to migrate objects from SL Legacy to Skylark, modify schema creation
  .vscode/launch.json
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/constants.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/env.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/account.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.test.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: ingestor, lib

feat: add seasons/brands creation, update external ID after every create/update
  .gitignore
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/skylark/saas/account.ts
Due: ingestor

feat: add always availability to all legacy objects
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/constants.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
Due: ingestor

feat: improve output for legacy objects, add sleep just in case
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
Due: ingestor

feat: write fetched Legacy Objects to disk, add mode to read from disk rather than fetch, fix update schema bug
  .vscode/launch.json
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  yarn.lock
Due: ingestor

feat: use Set for existing objects for faster lookup + rate limit, add axios retry, improvements all round
  packages/ingestor/.gitignore
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  yarn.lock
Due: ingestor

feat: Add error handling to 'fix' known errors and retry the requests
  .prettierignore
  .vscode/launch.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/constants.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/delete.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
Due: ingestor

feat: move files
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/README.md
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
Due: ingestor

feat: tidy
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
Due: ingestor

feat: Add on the fly image transformation
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/lib/src/skylark/skylark.constants.ts
  packages/lib/src/utils/utils.ts
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
Due: ingestor, lib, react

feat: Add on the fly image transformation
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/player/player.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
Due: react

feat: Add Skylark Legacy Ingestor + improve error handling + Cloudinary Image Cache to StreamTV (#104)
  .gitignore
  .prettierignore
  .vscode/launch.json
  packages/ingestor/.gitignore
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/README.md
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/constants.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/env.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/account.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/delete.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.test.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/lib/src/skylark/skylark.constants.ts
  packages/lib/src/utils/utils.ts
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/player/player.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  yarn.lock
Due: ingestor, lib, react

feat: read language from url query
  apps/streamtv/components/displayError.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
Due: streamTV, react

feat: bump StreamTV Next.js and React versions, improve legacy skylark ingestor
  .vscode/launch.json
  apps/storybook/package.json
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/next.config.js
  apps/streamtv/package.json
  apps/streamtv/types/gql.ts
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/assignAlwaysAvailabilityToAllObjects.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/fs.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/main.ts
  packages/react/package.json
  packages/react/src/components/button/button.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  yarn.lock
Due: streamTV, ingestor, react

fix: bump jest and fix unit tests
  apps/streamtv/jest.config.js
  apps/streamtv/package.json
  packages/ingestor/package.json
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/lib/package.json
  packages/react/jest.config.js
  packages/react/package.json
  packages/react/setupJestTests.js
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
  packages/react/src/components/dropdown/dropdown.test.tsx
  yarn.lock
Due: streamTV, ingestor, lib, react

feat: search link, cr changes
  apps/streamtv/components/search.tsx
  apps/streamtv/next.config.js
Due: streamTV

feat: search link, cr changes
  .github/actions/run-ingestor/action.yml
  .github/workflows/pr-checks.yml
Due: none

feat: upgrade storybook to v7, upgrade react types, fixed React.FC children change
  apps/storybook/.babelrc.json
  apps/storybook/.storybook/main.js
  apps/storybook/package.json
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/package.json
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/tsconfig.json
  packages/lib/src/skylark/graphqlClient.test.ts
  packages/lib/src/skylark/graphqlClient.ts
  packages/react/package.json
  packages/react/src/components/dimension-settings/dimension-content/dimension-content.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/rail/rail.component.tsx
  packages/react/src/components/skeleton/skeletonPage.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
  packages/react/src/components/typography/heading/heading.component.tsx
  packages/react/src/components/typography/overline/overline.component.tsx
  packages/react/src/components/typography/subtitle/subtitle.component.tsx
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
  packages/react/src/lib/utils.ts
  yarn.lock
Due: streamTV, ingestor, lib, react

feat: fix build, bump framer-motion
  apps/streamtv/components/layout.tsx
  packages/react/package.json
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/player/player.component.tsx
  packages/react/src/components/player/player.test.tsx
  yarn.lock
Due: streamTV, react

feat: convert Link to new Next.js Link
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  packages/react/src/components/button/button.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
Due: streamTV, react

fix: ingestor file not found
  packages/ingestor/src/lib/skylark/saas/fs.ts
Due: ingestor

feat: add uncached request class method and use in ingestor
  packages/ingestor/src/lib/skylark/saas/account.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/delete.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/lib/src/skylark/graphqlClient.ts
Due: ingestor, lib

feat: create translations after sets
  packages/ingestor/src/main.ts
Due: ingestor

feat: Add uncached requests to the Ingestor (#106)
  packages/ingestor/src/lib/skylark/saas/account.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/delete.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/main.ts
  packages/lib/src/skylark/graphqlClient.ts
Due: ingestor, lib

feat: support a client system init
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
Due: ingestor

feat: Complete refactor for multiple clients, add client_c logic and objects
  .vscode/launch.json
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/common.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/constants.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/assignAlwaysAvailabilityToAllObjects.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
Due: ingestor
