Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, marketingSite, ingestor, lib, react

feat: revert default availability for Fauna, update test
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: support defining sets on Airtable
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/additional-objects/slxDemosSets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  packages/ingestor/tools/airtableScripts/createTmdbCredits.js
  packages/ingestor/tools/airtableScripts/createTmdbImage.js
  packages/ingestor/tools/airtableScripts/createTrendingMovies.js
Due: ingestor

feat: support defining sets on Airtable
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: ingestor

feat: Ingestor Create Only mode (#138)
  .vscode/launch.json
  apps/streamtv/lib/utils.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/additional-objects/slxDemosSets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  packages/ingestor/tools/airtableScripts/createTmdbCredits.js
  packages/ingestor/tools/airtableScripts/createTmdbImage.js
  packages/ingestor/tools/airtableScripts/createTrendingMovies.js
  packages/react/src/components/information-panel/information-panel.component.tsx
Due: streamTV, ingestor, react

feat: update scripts
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
  packages/ingestor/tools/airtableScripts/brandCreateSeasonsEpisodes.js
  packages/ingestor/tools/airtableScripts/createTmdbObjects.js
  packages/ingestor/tools/airtableScripts/createTrendingTvShows.js
  packages/ingestor/tools/airtableScripts/updateAllTvShowsSet.js
Due: ingestor

feat: use upsert update instead of create in ingestor for metadata, update scripts
  .gitignore
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/tools/airtableScripts/brandCreateSeasons.js
  packages/ingestor/tools/airtableScripts/createTmdbCredits.js
  packages/ingestor/tools/airtableScripts/seasonCreateEpisodes.js
Due: ingestor

chore: remove marketing-site
  codecov.yml
Due: none

feat: handle updated and legacy AppConfig/StreamTVConfig
  apps/skylarktv/graphql/queries/skylarktvConfig.ts
  apps/skylarktv/hooks/useSkylarkEnvironment.tsx
  apps/skylarktv/hooks/useSkylarkTVConfig.tsx
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: ingestor

feat: tweak
  apps/skylarktv/pages/index.tsx
  apps/skylarktv/types/gql.ts
Due: none

feat: ingestor - people translations support
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  yarn.lock
Due: ingestor

fix: appConfig
  apps/skylarktv/graphql/queries/skylarktvConfig.ts
  apps/skylarktv/hooks/useSkylarkTVConfig.tsx
  apps/skylarktv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
Due: ingestor

feat: remove file
  apps/skylarktv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
Due: ingestor

feat: add credits to playback page
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/components/pages/playback/playback.stories.tsx
  apps/skylarktv/components/rails.tsx
  apps/skylarktv/graphql/queries/getPerson.ts
  apps/skylarktv/lib/utils.ts
  apps/skylarktv/locales/ar/common.json
  apps/skylarktv/locales/en-gb/common.json
  apps/skylarktv/locales/pt-pt/common.json
  apps/skylarktv/pages/brand/[slug].tsx
  apps/skylarktv/pages/episode/[...slug].tsx
  apps/skylarktv/pages/live-stream/[slug].tsx
  apps/skylarktv/pages/movie/[slug].tsx
  apps/skylarktv/tests/lib/utils.test.ts
  apps/skylarktv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/relationshipConfiguration.ts
  packages/ingestor/tools/airtableScripts/brandCreateSeasons.js
  packages/ingestor/tools/airtableScripts/createTmdbCredits.js
  packages/ingestor/tools/airtableScripts/createTmdbObjects.js
  packages/ingestor/tools/airtableScripts/createTmdbPerson.js
  packages/ingestor/tools/airtableScripts/createTmdbPersonTranslation.js
  packages/ingestor/tools/airtableScripts/createTrendingMovies.js
  packages/ingestor/tools/airtableScripts/createTrendingTvShows.js
  packages/ingestor/tools/airtableScripts/updateAllTvShowsSet.js
  packages/react/src/components/metadata-panel/metadata-panel.component.tsx
Due: ingestor, react

feat: be nicer to fauna
  packages/ingestor/src/lib/constants.ts
Due: ingestor

feat: fetch more credits
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/graphql/queries/getEpisode.ts
  apps/skylarktv/graphql/queries/getPerson.ts
  apps/skylarktv/types/gql.ts
Due: none

feat: correct naming
  apps/skylarktv/graphql/queries/skylarktvConfig.ts
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: ingestor

feat: handle older envs that already have StreamtvConfig
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
Due: ingestor

feat: handle older envs that already have StreamtvConfig
  packages/ingestor/src/lib/skylark/saas/objectConfiguration.ts
Due: ingestor

feat: don't make requests until dependencies have finished loading
  apps/skylarktv/components/layout.tsx
  apps/skylarktv/components/pages/setTypes/page.tsx
  apps/skylarktv/hooks/useListObjects.tsx
  apps/skylarktv/hooks/useObject.tsx
  apps/skylarktv/hooks/useObjectListingFromGenre.tsx
  apps/skylarktv/hooks/useSearch.tsx
  apps/skylarktv/hooks/useSkylarkEnvironment.tsx
  apps/skylarktv/hooks/useSkylarkTVConfig.tsx
  apps/skylarktv/pages/brand/[slug].tsx
  apps/skylarktv/types/gql.ts
  packages/react/src/contexts/dimensions-context/dimensions-context.tsx
  packages/react/src/hooks/useDeviceType.tsx
Due: react

feat: fetch data on the rail/grid level rather than thumbnail
  apps/skylarktv/components/grid.tsx
  apps/skylarktv/components/pages/setTypes/page.tsx
  apps/skylarktv/components/rails.tsx
  apps/skylarktv/components/thumbnail.tsx
  apps/skylarktv/graphql/queries/getPerson.ts
  apps/skylarktv/graphql/queries/getSeason.ts
  apps/skylarktv/graphql/queries/getSet.ts
  apps/skylarktv/pages/collection/[slug].tsx
Due: none

feat: fix for episode link
  apps/skylarktv/graphql/queries/getSeason.ts
Due: none

feat: improve listMovies page
  apps/skylarktv/components/grid.tsx
  apps/skylarktv/graphql/queries/listMovies.ts
Due: none

feat: Fetch data on Rail/Grid level rather than Thumbnail (#141)
  apps/skylarktv/components/grid.tsx
  apps/skylarktv/components/pages/setTypes/page.tsx
  apps/skylarktv/components/rails.tsx
  apps/skylarktv/components/thumbnail.tsx
  apps/skylarktv/graphql/queries/getPerson.ts
  apps/skylarktv/graphql/queries/getSeason.ts
  apps/skylarktv/graphql/queries/getSet.ts
  apps/skylarktv/graphql/queries/listMovies.ts
  apps/skylarktv/pages/collection/[slug].tsx
Due: none

fix: get typename
  apps/skylarktv/graphql/queries/listMovies.ts
Due: none

feat: complete init person page, add thumbnail for credit
  apps/skylarktv/components/grid.tsx
  apps/skylarktv/components/rails.tsx
  apps/skylarktv/components/search.tsx
  apps/skylarktv/components/thumbnail.tsx
  apps/skylarktv/graphql/queries/getEpisode.ts
  apps/skylarktv/graphql/queries/getPerson.ts
  apps/skylarktv/hooks/useObject.tsx
  apps/skylarktv/pages/person/[slug].tsx
  packages/lib/src/utils/utils.ts
  packages/react/package.json
  packages/react/src/components/player/player.component.tsx
  packages/react/src/components/thumbnail/episode/episode-thumbnail.component.tsx
  yarn.lock
Due: lib, react

feat: improve people support
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/pages/person/[slug].tsx
Due: none

feat: improve people support
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/pages/person/[slug].tsx
  apps/skylarktv/types/gql.ts
Due: none

fix: collection page url being incorrect
  apps/skylarktv/graphql/queries/getSet.ts
  apps/skylarktv/pages/person/[slug].tsx
Due: none

Update README.md
  README.md
Due: none

Update README.md (#142)
  README.md
Due: none

feat: support additional fields on Movie and Episode page
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/graphql/queries/getEpisode.ts
  apps/skylarktv/graphql/queries/getMovie.ts
  apps/skylarktv/locales/ar/common.json
  apps/skylarktv/locales/en-gb/common.json
  apps/skylarktv/locales/pt-pt/common.json
  apps/skylarktv/pages/episode/[...slug].tsx
  apps/skylarktv/pages/movie/[slug].tsx
  apps/skylarktv/types/extendedGql.ts
  packages/lib/src/utils/utils.ts
Due: lib

fix: handle when new fields don't exist in the schema
  apps/skylarktv/pages/episode/[...slug].tsx
  apps/skylarktv/pages/movie/[slug].tsx
Due: none

fix: logic
  packages/lib/src/utils/utils.ts
Due: lib

feat: hide budget if 0, show stars for ratings
  apps/skylarktv/components/pages/playback/playback.page.tsx
Due: none

feat: add actors to information panel
  apps/skylarktv/components/pages/playback/playback.page.tsx
  apps/skylarktv/graphql/queries/getPerson.ts
  apps/skylarktv/lib/utils.ts
  apps/skylarktv/tests/lib/utils.test.ts
  packages/react/src/components/information-panel/information-panel.component.tsx
Due: react

feat: add random photo to person page
  apps/skylarktv/pages/person/[slug].tsx
Due: none

feat: add redirect support, move beta/connect to skylark/connect
  apps/skylarktv/pages/beta/connect.tsx
  apps/skylarktv/pages/skylark/connect.tsx
Due: none

Path conditions:
  streamTV: any of: apps/streamtv/
  marketingSite: any of: apps/marketing-site/
  ingestor: any of: packages/ingestor/
  lib: any of: packages/lib/
  react: any of: packages/react/
