Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, ingestor, lib, react

codecov.yml:

flags:
  streamTV:
    paths:
      - apps/streamtv/
  ingestor:
    paths:
      - packages/ingestor/
  lib:
    paths:
      - packages/lib/
  react:
    paths:
      - packages/react/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      streamTV:
        flags:
          - streamTV
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

feat: legacy ingestor support sets and set content
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/common.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
Due: ingestor

feat: create dimensions, values and assign availabilities to objects for client C
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/common.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/assignAlwaysAvailabilityToAllObjects.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: enable relationships
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
Due: ingestor

feat: tweak site.webmanifest to correct theme colours
  apps/streamtv/public/site.webmanifest
Due: streamTV

Support multiple client data models in Skylark Legacy ingestor (#107)
  .vscode/launch.json
  apps/streamtv/public/site.webmanifest
  packages/ingestor/package.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientA.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/common.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/constants.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/fs.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/legacy.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/main.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/assignAlwaysAvailabilityToAllObjects.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/legacySkylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/types/skylark.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/main.ts
Due: streamTV, ingestor

feat: update fields, needs tidy before commit
  countryline.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: ingestor, lib

feat: add CTA and Tags to Homepage
  apps/streamtv/components/cta.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getCTA.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
Due: streamTV, react

feat: add CTA and Tags to Homepage
  apps/streamtv/components/rails.tsx
Due: streamTV

feat: tag brand
  apps/streamtv/components/cta.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getSet.ts
Due: streamTV

feat: remove sorting from StreamTV, add CTA & Tag Rails support to Homepage (#101)
  apps/streamtv/components/cta.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getBrand.ts
  apps/streamtv/graphql/queries/getCTA.ts
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
Due: streamTV, react

feat: add tags to ingestor
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: add tags to ingestor (#109)
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: tidy
  countryline.json
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
Due: ingestor

feat: Update fields for Legacy Ingest (#108)
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/skylarkRelationships.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/utils.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: ingestor, lib

feat: rate limit Airtable requests
  packages/ingestor/src/lib/airtable.ts
Due: ingestor

fix: tests
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/airtable.test.ts
Due: streamTV, ingestor

fix: tests
  apps/streamtv/types/gql.ts
Due: streamTV

feat: rate limit Airtable requests (#110)
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
Due: ingestor

feat: use asset hls_url for playback src when populated
  apps/streamtv/components/rails.tsx
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/types/gql.ts
Due: streamTV

feat: support rtl direction on homepage using a query parameter
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/pages/_document.tsx
  apps/streamtv/types/gql.ts
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/rail/rail.component.tsx
  packages/react/src/hooks/useHtmlDirection.tsx
Due: streamTV, react

feat: support rtl direction on homepage using a query parameter
  packages/react/src/hooks/useHtmlDirection.tsx
Due: react

feat: support rtl direction on homepage using a query parameter
  apps/streamtv/pages/_document.tsx
Due: streamTV

feat: improve rtl support, fix/improve stories
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/pages/playback/playback.page.tsx
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/app-header/app-header.stories.tsx
  packages/react/src/components/call-to-action/call-to-action.component.tsx
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/carousel/carousel.stories.tsx
  packages/react/src/components/dimension-settings/dimension-radio-button/dimension-radio-button.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dropdown/dropdown.component.tsx
  packages/react/src/components/header/header.component.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/metadata-panel/metadata-panel.component.tsx
  packages/react/src/components/metadata-panel/metadata-panel.stories.tsx
  packages/react/src/components/rail/rail.component.tsx
  packages/react/src/components/rail/rail.stories.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
  packages/react/src/hooks/useHtmlDirection.tsx
Due: streamTV, react

feat: fix more stories
  packages/react/src/components/dropdown/dropdown.stories.tsx
  packages/react/src/components/header/header.stories.tsx
  packages/react/src/components/navigation/navigation.stories.tsx
Due: react

feat: support rtl direction on homepage using a query parameter (#111)
  apps/streamtv/components/grid.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/pages/_document.tsx
  apps/streamtv/types/gql.ts
  packages/react/src/components/app-header/app-header.component.tsx
  packages/react/src/components/app-header/app-header.stories.tsx
  packages/react/src/components/call-to-action/call-to-action.component.tsx
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/carousel/carousel.stories.tsx
  packages/react/src/components/dimension-settings/dimension-radio-button/dimension-radio-button.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dropdown/dropdown.component.tsx
  packages/react/src/components/dropdown/dropdown.stories.tsx
  packages/react/src/components/header/header.component.tsx
  packages/react/src/components/header/header.stories.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/link/link.component.tsx
  packages/react/src/components/metadata-panel/metadata-panel.component.tsx
  packages/react/src/components/metadata-panel/metadata-panel.stories.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/navigation/navigation.stories.tsx
  packages/react/src/components/rail/rail.component.tsx
  packages/react/src/components/rail/rail.stories.tsx
  packages/react/src/components/title-screen/title-screen.component.tsx
  packages/react/src/hooks/useHtmlDirection.tsx
Due: streamTV, react

feat: support live stream (with ignore avail)
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/types/gql.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/lib/utils.ts
Due: streamTV, lib, react

feat: fix isBrowser logic
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: react

feat: tweak after pr merge
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/types/gql.ts
Due: streamTV

feat: remove ignore-availability
  packages/react/src/lib/utils.ts
Due: react

feat: remove ignore-availability
  apps/streamtv/codegen.ts
Due: streamTV

feat: add live stream to StreamTV & ingestor, remove unused translations, add theme, genre, roles and credits translations via airtable
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/components/pages/playback/playback.stories.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/lib/types/saas.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: streamTV, ingestor, lib

feat: StreamTV: LiveStream & read Credit role translations from Skylark (#112)
  apps/streamtv/codegen.ts
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/components/pages/playback/playback.stories.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getLiveStream.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/live-stream/[slug].tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/lib/types/saas.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: streamTV, ingestor, lib

feat: Add Region dimension to Airtable, Ingestor and StreamTV, add initial ar language support
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
Due: react

refactor: cr
  apps/streamtv/graphql/queries/getSet.ts
Due: streamTV

feat: Add across the pond sets
  packages/ingestor/src/additional-objects/sets.ts
Due: ingestor

feat: Add translations for search and errors, add Arabic movies set
  apps/streamtv/components/displayError.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/locales/ar/common.json
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/pages/_app.tsx
  packages/ingestor/src/additional-objects/sets.ts
Due: streamTV, ingestor

bugfix rtl
  packages/react/src/hooks/useHtmlDirection.tsx
Due: react
