Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: skylarkTV, ingestor

codecov.yml:

flags:
  skylarkTV:
    paths:
      - packages/skylarktv/
  ingestor:
    paths:
      - packages/ingestor/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      apps:
        flags:
          - skylarkTV
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

feat: add description
  packages/skylarktv/src/constants/app.ts
Due: skylarkTV

feat: add new navigation
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/components/generic/app-header/app-header.stories.tsx
  packages/skylarktv/src/components/generic/app-header/app-header.test.tsx
  packages/skylarktv/src/components/generic/dimension-settings/dimension-settings.component.tsx
  packages/skylarktv/src/components/generic/navigation/index.tsx
  packages/skylarktv/src/components/generic/navigation/navigation-item/navigation-item.component.tsx
  packages/skylarktv/src/components/generic/navigation/navigation-toggle/navigation-toggle.component.tsx
  packages/skylarktv/src/components/generic/navigation/navigation.component.tsx
  packages/skylarktv/src/components/generic/navigation/navigation.stories.tsx
  packages/skylarktv/src/components/generic/navigation/navigation.test.tsx
  packages/skylarktv/src/components/layout.tsx
  packages/skylarktv/src/constants/navigation.tsx
Due: skylarkTV

feat: navigation styling
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/constants/navigation.tsx
Due: skylarkTV

feat: mobile styling changes
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/components/generic/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  packages/skylarktv/src/components/pages/listObjects/listObjects.page.tsx
  packages/skylarktv/src/components/pages/listWithGenreFilter/listWithGenreFilter.page.tsx
  packages/skylarktv/src/constants/navigation.tsx
  packages/skylarktv/src/pages/articles.tsx
  packages/skylarktv/src/types/gql.ts
Due: skylarkTV

feat: navigation styling
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/components/generic/navigation/navigation-item/navigation-item.component.tsx
  packages/skylarktv/src/components/generic/navigation/navigation.component.tsx
  packages/skylarktv/src/components/layout.tsx
  packages/skylarktv/src/components/search.tsx
  packages/skylarktv/src/types/gql.ts
Due: skylarkTV

feat: remove test
  packages/skylarktv/src/lib/utils/utils.ts
Due: skylarkTV

feat: swap colours
  packages/skylarktv/src/constants/app.ts
  packages/skylarktv/src/lib/utils/utils.ts
Due: skylarkTV

feat: rebase on main
  packages/skylarktv/src/components/layout.tsx
  packages/skylarktv/src/components/playerTimecodeEvent.tsx
  packages/skylarktv/src/constants/app.ts
Due: skylarkTV

feat: fix config
  packages/skylarktv/src/constants/app.ts
Due: skylarkTV

feat: add config for header colour
  packages/skylarktv/codegen.ts
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/constants/app.ts
  packages/skylarktv/src/hooks/useSkylarkTVConfig.tsx
  packages/skylarktv/tailwind.config.js
Due: skylarkTV

feat: update colours
  packages/skylarktv/src/constants/app.ts
Due: skylarkTV

feat: add optional segment
  packages/skylarktv/package.json
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/components/generic/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  packages/skylarktv/src/components/layout.tsx
  packages/skylarktv/src/constants/app.ts
  packages/skylarktv/src/constants/env.ts
  packages/skylarktv/src/lib/segment.ts
  packages/skylarktv/src/pages/_app.tsx
  yarn.lock
Due: skylarkTV

feat: support cloudinary in airtable, if cloudinary url add query parameters
  packages/ingestor/src/lib/cloudinary.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/skylarktv/src/lib/utils/utils.ts
Due: skylarkTV, ingestor

feat: debug
  packages/skylarktv/src/components/generic/thumbnail/base/base-thumbnail.component.tsx
Due: skylarkTV

feat: fix cloudinary path function
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/scripts/migrateLegacySkylarkImagesToCloudinary.ts
  packages/skylarktv/src/lib/utils/utils.test.ts
  packages/skylarktv/src/lib/utils/utils.ts
Due: skylarkTV, ingestor

feat: remove console.log
  packages/skylarktv/src/components/generic/thumbnail/base/base-thumbnail.component.tsx
Due: skylarkTV

feat: modify schema to use numbers, support dynamic content
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
Due: ingestor

feat: Add AvailabilitySegment support
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/main.ts
  packages/skylarktv/src/lib/interfaces/skylark/types.ts
Due: skylarkTV, ingestor

feat: AvailabilitySegment to AudienceSegment
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/main.ts
  packages/skylarktv/src/lib/interfaces/skylark/types.ts
Due: skylarkTV, ingestor

feat: AvailabilitySegment to AudienceSegment
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
Due: ingestor

feat: initial msw
  packages/skylarktv/public/mockServiceWorker.js
  packages/skylarktv/src/components/msw-provider.tsx
  packages/skylarktv/src/mocks/browser.ts
  packages/skylarktv/src/mocks/handlers.ts
Due: skylarkTV

feat: rename reference-apps to skylarktv & fix type
  README.md
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/ingestLegacyObjectsToSkylark/client/clientC.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/skylarktv/README.md
  packages/skylarktv/package.json
  packages/skylarktv/src/components/pages/playback/playback.page.tsx
  packages/skylarktv/src/pages/episode/[...slug].tsx
  packages/skylarktv/src/pages/movie/[slug].tsx
  packages/skylarktv/src/types/gql.ts
Due: skylarkTV, ingestor

feat: migrations
  packages/skylarktv/src/components/generic/information-panel/information-panel.component.tsx
  packages/skylarktv/src/components/generic/parseAndDisplayHtml/parseAndDisplayHtml.component.tsx
  packages/skylarktv/src/components/search.tsx
  packages/skylarktv/src/lib/segment.ts
Due: skylarkTV

feat: migrate framer-motion to motion/react
  packages/skylarktv/package.json
  packages/skylarktv/src/components/generic/app-header/app-header.component.tsx
  packages/skylarktv/src/components/generic/carousel/carousel-button.component.tsx
  packages/skylarktv/src/components/generic/carousel/carousel.component.tsx
  packages/skylarktv/src/components/generic/dimension-settings/dimension-settings.component.tsx
  packages/skylarktv/src/components/generic/loading-screen/loading-screen.component.tsx
  packages/skylarktv/src/components/generic/skeleton/skeleton.component.tsx
  packages/skylarktv/src/components/generic/skeleton/skeletonPage.component.tsx
  packages/skylarktv/src/components/generic/title-screen/title-screen.component.tsx
  yarn.lock
Due: skylarkTV

feat: version
  packages/skylarktv/package.json
Due: skylarkTV

feat: version
  yarn.lock
Due: none

feat: logo url
  packages/skylarktv/src/constants/app.ts
Due: skylarkTV

fix: typescript errors
  packages/skylarktv/src/components/pages/setTypes/page.tsx
  packages/skylarktv/src/graphql/queries/getBrand.ts
  packages/skylarktv/src/graphql/queries/getEpisode.ts
  packages/skylarktv/src/graphql/queries/getMovie.ts
  packages/skylarktv/src/graphql/queries/getSet.ts
  packages/skylarktv/src/hooks/useListObjects.tsx
  packages/skylarktv/src/hooks/useMuxPlaybackToken.tsx
  packages/skylarktv/src/hooks/useObject.tsx
  packages/skylarktv/src/hooks/useObjectListingFromGenre.tsx
  packages/skylarktv/src/hooks/useObjectListingFromTag.tsx
  packages/skylarktv/src/hooks/useSearch.tsx
  packages/skylarktv/src/hooks/useSkylarkEnvironment.tsx
  packages/skylarktv/src/hooks/useSkylarkTVConfig.tsx
  packages/skylarktv/src/pages/brand/[slug].tsx
  packages/skylarktv/src/pages/episode/[...slug].tsx
  packages/skylarktv/src/pages/movie/[slug].tsx
Due: skylarkTV

save
  eslint.config.mjs
  package.json
  packages/ingestor/eslint.config.mjs
  packages/ingestor/package.json
  packages/skylarktv/eslint.config.mjs
  packages/skylarktv/package.json
  yarn.lock
Due: skylarkTV, ingestor

feat: optional properties
  packages/skylarktv/src/pages/episode/[...slug].tsx
  packages/skylarktv/src/pages/movie/[slug].tsx
Due: skylarkTV

feat: sanitize non entertainment model properties
  packages/skylarktv/src/lib/utils/utils.ts
  packages/skylarktv/src/pages/episode/[...slug].tsx
  packages/skylarktv/src/pages/movie/[slug].tsx
Due: skylarkTV
