Repository skylark-platform/reference-apps: changes, and which Codecov flags are due for each by the changed paths.
All: streamTV, ingestor, lib, react

codecov.yml:

flags:
  streamTV:
    paths:
      - apps/streamtv/
  ingestor:
    paths:
      - packages/ingestor/
  lib:
    paths:
      - packages/lib/
  react:
    paths:
      - packages/react/

coverage:
  status:
    project:
      default:
        flags:
          - lib
          - react
        target: 80%
        threshold: 1%
      streamTV:
        flags:
          - streamTV
        target: 80%
      ingestor:
        flags:
          - ingestor
        target: 90%

feat: more refactor stuff
  .github/CODEOWNERS
  .github/actions/vercel-deploy/action.yml
  .github/workflows/deploy-vercel.yml
  .vscode/launch.json
  README.md
  apps/streamtv/README.md
  apps/streamtv/graphql/queries/index.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useObject.tsx
  apps/streamtv/hooks/useSearch.tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/types/gql.ts
  docs/environment-variables.md
  packages/ingestor/src/env.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/main.ts
  packages/react/src/layouts/streamtv.layout.tsx
Due: streamTV, ingestor, react

feat: support language in ingestor create media objects
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/react/src/layouts/streamtv.layout.tsx
Due: streamTV, ingestor, react

feat: fix movies
  apps/streamtv/pages/index.tsx
  apps/streamtv/pages/movies.tsx
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/react/src/components/button/button.component.tsx
  packages/react/src/pages/collection/collection.page.tsx
  packages/react/src/pages/collection/collection.stories.tsx
  packages/react/src/pages/collection/index.ts
  packages/react/src/pages/home/home.page.tsx
  packages/react/src/pages/home/home.stories.tsx
  packages/react/src/pages/home/index.ts
  packages/react/src/pages/index.ts
  packages/react/src/pages/movies/index.ts
  packages/react/src/pages/movies/movies.page.tsx
  packages/react/src/pages/movies/movies.stories.tsx
Due: streamTV, ingestor, react

feat: fix movies
  packages/ingestor/src/lib/skylark/saas/create.ts
Due: ingestor

feat: fix movies
  apps/streamtv/hooks/useSearch.tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/pages/movies.tsx
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/main.ts
Due: streamTV, ingestor

fix: carousel interval
  apps/streamtv/components/carousel.tsx
Due: streamTV

fix: carousel interval
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/index.tsx
Due: streamTV

fix: carousel interval
  apps/streamtv/pages/brand/[slug].tsx
  apps/streamtv/pages/index.tsx
  packages/react/src/components/rail/rail.component.tsx
Due: streamTV, react

chore: prettier
  apps/streamtv/pages/index.tsx
  packages/react/src/components/rail/rail.component.tsx
Due: streamTV, react

chore: rename rail
  apps/streamtv/components/rails.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/pages/collection/[slug].tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/constants.ts
Due: streamTV, ingestor

chore: rename rail
  apps/streamtv/components/rails.tsx
Due: streamTV

fix: use hardcoded enum for SetTypes instead of codegen
  apps/streamtv/components/rails.tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
Due: streamTV

feat: improve formatting in release date
  apps/streamtv/types/gql.ts
  packages/lib/src/utils/utils.test.ts
  packages/lib/src/utils/utils.ts
Due: streamTV, lib

feat: add styles for search
  apps/streamtv/components/carousel.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useSearch.tsx
  apps/streamtv/lib/utils.ts
  apps/streamtv/package.json
  apps/streamtv/pages/_app.tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/pages/movies.tsx
  apps/streamtv/tests/lib/utils.test.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/list/list.component.tsx
  packages/react/src/index.ts
  packages/react/src/layouts/index.ts
  yarn.lock
Due: streamTV, lib, react

feat: Add Search highlighting but disabled, add dynamic page for sets with type page
  apps/storybook/package.json
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/page.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useSearch.tsx
  apps/streamtv/package.json
  apps/streamtv/pages/[slug].tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/types/gql.ts
  package.json
  packages/lib/src/interfaces/skylark/types.ts
  packages/react/src/components/carousel/carousel.component.tsx
  yarn.lock
Due: streamTV, lib, react

feat: Add Search highlighting but disabled, add dynamic page for sets with type page
  apps/streamtv/components/search.tsx
  apps/streamtv/pages/movies.tsx
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/dimension-settings/dimension-content/dimension-content.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dropdown/dropdown.component.tsx
  packages/react/src/components/header/header.component.tsx
  packages/react/src/components/hero/hero.component.tsx
  packages/react/src/components/information-panel/information-panel.component.tsx
  packages/react/src/components/navigation/navigation.component.tsx
  packages/react/src/components/rail/rail.component.tsx
  packages/react/src/components/skeleton/skeletonPage.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/thumbnail/episode/episode-thumbnail.component.tsx
  packages/react/src/components/thumbnail/movie/movie-thumbnail.component.tsx
  packages/react/src/components/thumbnail/standard/standard-thumbnail.component.tsx
  packages/react/src/pages/playback/playback.page.tsx
Due: streamTV, react

feat: replace useSWR with react-query to match Skylark UI stack
  apps/storybook/package.json
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/listMovies.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/hooks/useListObjects.tsx
  apps/streamtv/hooks/useMovieListingFromGenre.tsx
  apps/streamtv/hooks/useObject.tsx
  apps/streamtv/hooks/useSearch.tsx
  apps/streamtv/package.json
  apps/streamtv/pages/_app.tsx
  apps/streamtv/types/gql.ts
  packages/react/src/components/skeleton/skeleton.component.tsx
  packages/react/src/components/thumbnail/base/base-thumbnail.component.tsx
  packages/react/src/components/thumbnail/episode/episode-thumbnail.component.tsx
  packages/react/src/components/thumbnail/standard/standard-thumbnail.component.tsx
  tailwind.config.js
  yarn.lock
Due: streamTV, react

feat: use availability to show how long content is available for
  apps/streamtv/components/pages/playback/index.ts
  apps/streamtv/components/pages/playback/playback.page.tsx
  apps/streamtv/components/pages/playback/playback.stories.tsx
  apps/streamtv/components/pages/setTypes/page.tsx
  apps/streamtv/graphql/queries/getEpisode.ts
  apps/streamtv/graphql/queries/getMovie.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/lib/utils.ts
  apps/streamtv/locales/en-gb/common.json
  apps/streamtv/locales/pt-pt/common.json
  apps/streamtv/package.json
  apps/streamtv/pages/[slug].tsx
  apps/streamtv/pages/episode/[slug].tsx
  apps/streamtv/pages/index.tsx
  apps/streamtv/pages/movie/[slug].tsx
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/react/src/components/information-panel/information-panel.component.tsx
  packages/react/src/components/information-panel/information-panel.stories.tsx
  packages/react/src/components/information-panel/information-panel.test.tsx
  packages/react/src/index.ts
  packages/react/src/pages/index.ts
Due: streamTV, ingestor, react

feat: wip call to action
  apps/streamtv/components/carousel.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/carousel/carousel.component.tsx
Due: streamTV, react

feat: ability to configure chunk size
  .github/actions/run-ingestor/action.yml
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
  packages/ingestor/src/lib/constants.ts
Due: ingestor

feat: ability to configure chunk size
  .github/workflows/ingest-streamtv-content-to-remote-skylark.yml
  packages/ingestor/src/main.ts
Due: ingestor

feat: use fragments, add call to action support
  apps/streamtv/components/carousel.tsx
  apps/streamtv/components/layout.tsx
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/graphql/queries/getSet.ts
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/package.json
  apps/streamtv/types/extendedGql.ts
  apps/streamtv/types/gql.ts
  packages/react/src/components/carousel/carousel.component.tsx
  packages/react/src/components/carousel/carousel.fixtures.ts
  packages/react/src/components/information-panel/information-panel.test.tsx
Due: streamTV, react

feat: improve search with typename highlight, add game of thrones universe sets to ingestor
  apps/streamtv/components/search.tsx
  apps/streamtv/graphql/queries/search.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/interfaces/config.ts
Due: streamTV, ingestor

feat: upload images from Airtable to Skylark, add Game of Thrones sets for future
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/interfaces/config.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: upload images from Airtable to Skylark, add Game of Thrones sets for future (#98)
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/lib/interfaces/config.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/main.ts
Due: ingestor

feat: Add CTA to Ingestor, remove more legacy code
  apps/streamtv/components/thumbnail.tsx
  apps/streamtv/lib/utils.ts
  apps/streamtv/tests/lib/utils.test.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/additional-objects/sets.ts
  packages/ingestor/src/additional-objects/slxDemosSets.ts
  packages/ingestor/src/lib/airtable.test.ts
  packages/ingestor/src/lib/airtable.ts
  packages/ingestor/src/lib/interfaces/airtable.ts
  packages/ingestor/src/lib/interfaces/classic.ts
  packages/ingestor/src/lib/interfaces/config.ts
  packages/ingestor/src/lib/interfaces/index.ts
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.test.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/lib/types/classic.ts
  packages/ingestor/src/lib/types/index.ts
  packages/ingestor/src/lib/types/saas.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/index.ts
  packages/lib/src/interfaces/skylark/types.ts
  packages/lib/src/skylark/converters.test.ts
  packages/lib/src/skylark/converters.ts
Due: streamTV, ingestor, lib

feat: improve
  apps/streamtv/components/thumbnail.tsx
  packages/ingestor/src/lib/interfaces/saas.ts
  packages/ingestor/src/lib/skylark/saas/availability.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/get.test.ts
  packages/ingestor/src/lib/skylark/saas/get.ts
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
  packages/ingestor/src/lib/skylark/saas/utils.test.ts
Due: streamTV, ingestor

feat: improve logic to determine whether a set exists
  packages/ingestor/src/lib/skylark/saas/sets.test.ts
  packages/ingestor/src/lib/skylark/saas/sets.ts
Due: ingestor

feat: use UID regex to determine whether to use ExtID or not
  apps/streamtv/hooks/useObject.tsx
  apps/streamtv/lib/utils.ts
Due: streamTV

feat: autoconnect to Skylark UI
  packages/react/src/components/dimension-settings/dimension-settings.component.tsx
  packages/react/src/components/dimension-settings/dimension-settings.test.tsx
Due: react

feat: rename SkylarkCallToAction to CallToAction
  apps/streamtv/graphql/queries/fragments.ts
  apps/streamtv/types/gql.ts
  packages/ingestor/src/lib/skylark/saas/create.test.ts
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/utils.ts
  packages/ingestor/src/main.ts
  packages/lib/src/interfaces/skylark/types.ts
Due: streamTV, ingestor, lib

feat: initial commit of the extension app and dimension drawer package
  .gitignore
  .vscode/extensions.json
  .vscode/settings.json
  apps/modify-availability-extension/.eslintrc.cjs
  apps/modify-availability-extension/.gitignore
  apps/modify-availability-extension/index.html
  apps/modify-availability-extension/manifest.json
  apps/modify-availability-extension/package.json
  apps/modify-availability-extension/public/vite.svg
  apps/modify-availability-extension/src/App.css
  apps/modify-availability-extension/src/App.tsx
  apps/modify-availability-extension/src/assets/react.svg
  apps/modify-availability-extension/src/background.ts
  apps/modify-availability-extension/src/components/Button.tsx
  apps/modify-availability-extension/src/content_scripts/content_script.tsx
  apps/modify-availability-extension/src/index.css
  apps/modify-availability-extension/src/main.tsx
  apps/modify-availability-extension/src/rules.ts
  apps/modify-availability-extension/src/vite-env.d.ts
  apps/modify-availability-extension/tsconfig.json
  apps/modify-availability-extension/tsconfig.node.json
  apps/modify-availability-extension/vite.config.ts
  packages/dimensions-drawer/.eslintrc.js
  packages/dimensions-drawer/package.json
  packages/dimensions-drawer/postcss.config.cjs
  packages/dimensions-drawer/rollup.config.js
  packages/dimensions-drawer/src/components/dimensionsDrawer.component.tsx
  packages/dimensions-drawer/src/components/index.ts
  packages/dimensions-drawer/src/index.css
  packages/dimensions-drawer/src/index.ts
  packages/dimensions-drawer/tailwind.config.cjs
  packages/dimensions-drawer/tsconfig.json
  packages/dimensions-drawer/types/components/dimensionsDrawer.component.d.ts
  packages/dimensions-drawer/types/components/index.d.ts
  packages/dimensions-drawer/types/index.d.ts
  yarn.lock
Due: none

feat: improve Chrome Extension
  apps/modify-availability-extension/index.html
  apps/modify-availability-extension/package.json
  apps/modify-availability-extension/postcss.config.js
  apps/modify-availability-extension/src/App.tsx
  apps/modify-availability-extension/src/components/availabilityModifier.tsx
  apps/modify-availability-extension/src/components/dimensionCombobox.tsx
  apps/modify-availability-extension/src/components/dimensionContent.tsx
  apps/modify-availability-extension/src/components/footer.tsx
  apps/modify-availability-extension/src/components/inputLabels.tsx
  apps/modify-availability-extension/src/index.css
  apps/modify-availability-extension/src/main.tsx
  apps/modify-availability-extension/tailwind.config.js
  yarn.lock
Due: none

chore: remove old content script files
  apps/modify-availability-extension/manifest.json
  apps/modify-availability-extension/src/assets/react.svg
  apps/modify-availability-extension/src/components/DimensionsDrawer.tsx
  apps/modify-availability-extension/src/components/dimensionToggle.tsx
  apps/modify-availability-extension/src/components/inputLabels.tsx
  apps/modify-availability-extension/src/components/radioButton.tsx
  apps/modify-availability-extension/src/content_scripts/content_script.tsx
  packages/dimensions-drawer/types/components/container.component.d.ts
  packages/dimensions-drawer/types/components/dimensionsDrawer.component.d.ts
  packages/dimensions-drawer/types/components/index.d.ts
Due: none

feat: more features, more refactors
  apps/modify-availability-extension/package.json
  apps/modify-availability-extension/src/App.tsx
  apps/modify-availability-extension/src/background.ts
  apps/modify-availability-extension/src/components/availabilityModifier.tsx
  apps/modify-availability-extension/src/components/button.tsx
  apps/modify-availability-extension/src/components/connectToSkylark.tsx
  apps/modify-availability-extension/src/components/dimensionCombobox.tsx
  apps/modify-availability-extension/src/components/disabledOverlay.tsx
  apps/modify-availability-extension/src/components/footer.tsx
  apps/modify-availability-extension/src/components/header.tsx
  apps/modify-availability-extension/src/components/input.tsx
  apps/modify-availability-extension/src/components/switch.tsx
  apps/modify-availability-extension/src/constants.ts
  apps/modify-availability-extension/src/hooks/useAvailabilityDimensions.tsx
  apps/modify-availability-extension/src/hooks/useAvailabilityDimensionsValues.tsx
  apps/modify-availability-extension/src/interfaces/extension.ts
  apps/modify-availability-extension/src/interfaces/gql.ts
  apps/modify-availability-extension/src/interfaces/index.ts
  apps/modify-availability-extension/src/interfaces/parsed.ts
  apps/modify-availability-extension/src/interfaces/responses.ts
  apps/modify-availability-extension/src/interfaces/skylark.ts
  apps/modify-availability-extension/src/lib/storage.ts
  apps/modify-availability-extension/src/lib/utils.ts
  apps/modify-availability-extension/src/main.tsx
  apps/modify-availability-extension/tailwind.config.js
  apps/modify-availability-extension/tsconfig.node.json
  apps/modify-availability-extension/vite.config.ts
  yarn.lock
Due: none

feat: further improvements
  apps/modify-availability-extension/src/App.tsx
  apps/modify-availability-extension/src/background.ts
  apps/modify-availability-extension/src/components/availabilityModifier.tsx
  apps/modify-availability-extension/src/constants.ts
  apps/modify-availability-extension/src/lib/storage.ts
Due: none

feat: handle blank row in Media Objects table
  packages/ingestor/src/lib/skylark/saas/create.ts
  packages/ingestor/src/lib/skylark/saas/schema.ts
  packages/ingestor/src/main.ts
Due: ingestor
